html{
  scroll-behavior: smooth;
}
body{
  padding-top: 90px;
}
.navbar{
  backdrop-filter: blur(6px);
}

#backToTop{
  display: none;
}

section{
        padding: 60px 0;
        }

.carousel-item::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.4);
}
.carousel-item{
  text-align:center;
}

.carousel-item img{
  max-width:400px;
  margin:auto;
}